---
layout: page
title: "About"
description: ""
header-img: "img/home-bg-backup.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected>中文</option>
    <option value="1">English</option>
</select>

<!-- Chinese Version -->
<div class="zh">
    <blockquote>
        爱生活，爱陈飞列
    </blockquote>
    <p>
        2010-2014年 就读于清华大学软件学院并获得工学学士学位<br>
        2014-2017年 就读于清华大学软件学院并获得工程硕士学位<br>
    </p>
    硕士期间参与的研究工作有：
    <p style="color: gray;">
        1. <b>Ying Xiang</b>, Wang Chaokun, Wang Meng, et al. CoDAR: Revealing the Generalized Procedure & Recommending Algorithms of Community Detection. Proceedings of the 2016 International Conference on Management of Data. ACM, 2016: 2181-2184.(EI 收录, CCF-A类, Demo Paper)<br>
        2. Chen Jun, Wang Chaokun, Wang Jianmin, <b>Ying Xiang</b>, Wang Xuecheng. Learning the Personalized Intransitive Preferences of Images. IEEE Transactions on Image Processing. (SCI源，CCF-A类)<br>
        3. Bai Yiyuan, Wang Chaokun, <b>Ying Xiang</b>. Para-G: Path pattern query processing on large graphs. World Wide Web-internet & Web Information Systems, 2017,20(3):515-541.(SCI 收录， CCF-B类)<br>
        4. Xin Xin, Wang Chaokun, <b>Ying Xiang</b>, et al. Deep community detection in topologically incomplete networks. Physica A: Statistical Mechanics and its Applications, 2017, 469: 342-352.(SCI 收录)<br>
        5. Bai Yiyuan, Wang Chaokun, <b>Ying Xiang</b>, et al. Path pattern query processing on large graphs. Big Data and Cloud Computing (BdCloud), 2014 IEEE Fourth International Conference on. IEEE, 2014: 767-774.(EI 收录)<br>
        6. 尚敬文,王朝坤,辛欣,<b>应翔</b>. 基于深度稀疏自动编码器的社区发现算法. 软件学报,2017,28(3):648-662.(EI 源)
    </p>
    <h3>工作经历</h3>
    <p>2017年7月至今与华为杭州研究所从事算法工程师职务。</p>
    <h3>项目经验(in Huawei)</h3>
    <p>作为算法重要设计人员及开发人员，参与完成华为存储产品中分区选盘算法的实现，在数据多副本 与 EC 并存的场景下，满足了节点扩容过程中的容量负载均衡(各节点容量偏差在2以内)并且减少 了数据迁移量。</p>
    <p>作为算法负责人，设计并开发了华为某存储产品中分布式内存排布算法。算法对多故障域隔离，伴 随内存分配能均衡各节点的内存使用量，使得特定场景下，均衡性偏差小于 1%</p>
    <p>作为系统设计参与者和开发人员，参与了基于 levelDB 的数据库系统的垃圾回收项目</p>
    <h3>荣誉</h3>
    2013 年 “百度杯”第四届北京市高校应用设计开发邀请赛一等奖。<br>
    2016 年 清华大学“董氏东方”学业奖学金;清华大学“金立”学业奖学金<br>
    2017 年 清华大学 2017 年优秀硕士毕业论文<br>
    2017 年 华为第四届“明日之星”
    <p>
        <!--a href="/attach/resume_Cn.pdf">个人简历（中文）</a>
        </br>
        <a href="/attach/resume_En.pdf">个人简历（英文）</a -->
    </p>

</div>

<!-- English Version -->
<div class="en">

    <p>Coming soon.</p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
